
.child { 
    width: 250px;
    height: 200px;
}

.container {
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 2px black; 
    display: flex;
    justify-content: center;
    align-items: center;
} 